/*FONTS START HERE*/

@font-face { 
	font-family: 'roboto';
	src: url('../fonts/roboto.woff') format('woff');
	font-weight: normal;
	font-style: normal;
		 
}

@font-face { 
	font-family: 'roboto';
	src: url('../fonts/robotobold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
		 
}

@font-face { 
	font-family: 'roboto';
	src: url('../fonts/robotomedium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
		 
}


/*FONTS END HERE*/

body {
	font-family: 'roboto','Arial',sans-serif;
	font-size: 14px;
	line-height: normal;
	color: #000000;
	font-weight: normal;
	font-style: normal;
	background-color: #ffffff;
	min-width: 1200px; 
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

/*HEADERS START HERE*/

h1 {
	font-size: 55px;
	color: #000000;
	font-family: 'roboto','Arial',sans-serif;
	font-weight: 500;
	font-style: normal;
}

h2 {
	font-size: 45px;
	color: #000000;
	font-family: 'roboto','Arial',sans-serif;
	font-weight: 500;
	font-style: normal;
}

h3 {
	font-size: 18px;
	color: #000000;
	font-weight: bold;
	font-family: 'roboto','Arial',sans-serif;
	padding-bottom: 41px;
	text-transform: uppercase;
}
/*HEADERS END HERE*/

/*HEADER STYLES START HERE*/
.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0px 20px;

}

.logo {
	width: 160px;
	float: left;
	padding-top: 50px;
}

.logo.logo-animation:hover {
	opacity: 0.7;
	cursor: pointer;
}

.logo.logo-animation:active {
	opacity: 0.3;
	cursor: pointer;
}

.logo a {
	display: block;
}

.main-navigation {
	font-family: 'roboto','Arial',sans-serif;
	float: left;
	width: 600px;
	text-transform: uppercase;
	font-weight: 500;
	font-style: normal;
	font-size: 0px;
	padding-left: 162px;
	padding-top: 80px;
}

.main-navigation li.active {
	border-bottom: 2px solid #fb565a;
}

.main-navigation a {
	text-decoration: none;
	color: #000000;
}

.main-navigation a:hover {
	color: #fb565a;
}


.main-navigation a:active {
	color: #a6a6a6;
}

.main-navigation li:active {
	border-bottom: 2px solid #fb565a;
}

.main-navigation li {
	list-style: none;
	margin-right: 45px;
	display: inline-block;
	font-size: 16px;
	vertical-align: top;
	padding-bottom: 9px;
}

.main-navigation li:last-child {
	margin-right: 0px;
}

.cart-block {
	float: right;
	width: 117px;
	text-align: right;
	position: relative;
	padding-bottom: 9px;
	background: url(../img/sprite.png) -50px -48px no-repeat;
	margin-top: 80px;
}

.cart-block.active {
	 border-bottom: 2px solid #fb565a;
}

.cart-block a {
	text-decoration: none;
	color: #000000;
	font-weight: 500;
	font-style: normal;
	font-size: 16px;
	text-transform: uppercase;
}

.cart-block a:hover {
	color: #fb565a;
}

.cart-block a:active {
	color: #a6a6a6;
}
/*HEADER STYLES END HERE*/

/*SLIDER STARTS HERE*/
.slider{
		position: relative;
		width: 1160px;
		margin: 0 auto;
}
.slider input[type=radio] {
		position:absolute;
		opacity:0;
}
.slider-controls{
		position:absolute;
		bottom:102px;
		left: 583px;
		width:200px;
		height:10px;
		margin-left: -96px;
		text-align:center;
		z-index:1000;
}
.slider-controls label{
		display:inline-block;
		width:14px;
		height:14px;
		margin-right: 13px;
		background:white;
		border:3px solid white;
		vertical-align:top;
		border-radius:50%;
		cursor:pointer;
		position: relative;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"]:before {
		content: "";
		width: 4px;
		height: 4px;
		border-radius: 50%;
		position: absolute;
		top: 3px;
		left: 3px;
		border: 2px solid #c2c2c2;
}
#btn-2:checked ~ .slider-controls label[for="btn-2"]:before {
		content: "";
		width: 4px;
		height: 4px;
		border-radius: 50%;
		position: absolute;
		top: 3px;
		left: 3px;
		border: 2px solid #c2c2c2;
}
#btn-3:checked ~ .slider-controls label[for="btn-3"]:before {
		content: "";
		width: 4px;
		height: 4px;
		border-radius: 50%;
		position: absolute;
		top: 3px;
		left: 3px;
		border: 2px solid #c2c2c2;
}
.slide {
		position:relative;
		top:0;
		left:0;
		width:100%;
		min-height:426px;
		overflow:hidden;
}
.slide-text {
		width:530px;
		padding:30px 0;
		color:#283136;
		font-size: 0;
}
.slide-title {
		font-size:36px;
		line-height:1;
		font-weight:bold;
		color:black;
}
.slide .btn {
		vertical-align: middle; 
		display: inline-block;
		background-color: #fb565a;
		text-transform: uppercase;
		color: #ffffff;
		font-family: 'roboto','Arial',sans-serif;
		font-weight: normal;
		font-style: normal;
		border-radius: 3px;
		cursor: pointer;
		outline: none;
		text-align: center;
		text-decoration: none;
		font-size: 16px;
		padding: 15px 55px;
}
.slide .btn:hover {
		background-color: #e74246;
}
.slide .btn:active {
		background-color: #d7373b;
		border: none;
		color: #e06366;
}
.slide h1 {
		font-size: 55px;
		font-family: 'roboto','Arial',sans-serif;
		font-style: normal;
		font-weight: 500;
		line-height: 62px;
		color: #000000;
		margin-bottom: 23px;
}
.slide-text p {
		font-size: 16px;
		font-family: 'roboto','Arial',sans-serif;
		font-style: normal;
		font-weight: normal;
		line-height: auto;
		color: #283136;
		margin-bottom: 46px;
}
.slide:nth-child(1){
		background-image:url('../img/slider-bg.png');
		background-repeat:no-repeat;
		background-position:93% bottom;
}
.slide:nth-child(2){
		background-image:url('../img/slider-bg-2.png');
		background-repeat:no-repeat;
		background-position:93% bottom;
}
.slide:nth-child(3){
		background-image:url('../img/slider-bg-3.png');
		background-repeat:no-repeat;
		background-position:93% bottom;
}
.slide{
		display:none;
}
#btn-1:checked ~ .slides .slide:nth-child(1) { 
		display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) { 
		display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) { 
		display: block;
}

.slides {
	min-height: 426px;
}
/*SLIDER ENDS HERE*/


.order-section-block {
	width: 300px;
	float: left;
	margin-right: 100px;
	font-size: 0;
	padding-bottom: 20px;
}

.order-section-header {
	font-size: 24px;
	color: #000000;
	font-family: 'roboto','Arial',sans-serif;
	font-weight: bold;
	font-style: normal;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.order-section-button {
	text-transform: uppercase;
	color: #ffffff;
	font-family: 'roboto','Arial',sans-serif;
	font-weight: normal;
	font-style: normal;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	outline: none;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	padding: 15px 40px;
	vertical-align: middle;
}

.order-section-description {
	font-size: 16px;
	font-family: 'roboto','Arial',sans-serif;
	font-weight: normal;
	font-style: normal;
	color:#283136;
	line-height: 23px;
	margin-bottom: 33px;
}

.order-section {
	border-bottom: 2px solid #eeeeee;
	padding-bottom: 60px;
	margin-bottom: 37px;
}

.order-section-block.green .order-section-button {
	background-color: #00ca74;
}

.order-section-block.yellow .order-section-button:hover {
	background-color: #eab534;
}


.order-section-block.yellow .order-section-button:active {
	background-color: #e5a722;
	color: #e06366
}


.order-section-block.green .order-section-button:hover {
	background-color: #00bc6c;
}

.order-section-block.green .order-section-button:active {
	background-color: #00aa62;
	color: #e06366
}

.order-section-block.red .order-section-button:hover {
	background-color: #e74246;
}

.order-section-block.red .order-section-button:active {
	background-color: #d7373b;
	color: #e06366
}

.order-section-block.yellow .order-section-button {
	background-color: #efc84a;
}

.order-section-block.red .order-section-button {
	background-color: #fb565a;
}

.about-us-section {
	margin-bottom: 60px;
	border-bottom: 2px solid #eeeeee;
	padding-bottom: 44px;
}

.our-projects-section {
	margin-bottom: 80px;
	padding-bottom: 40px;
}

.our-projects-section {
	border-bottom: 2px solid #eeeeee;
}

.order-section-img {
	margin-bottom: 27px;
}

.order-section-block:nth-child(3n+3) {
	margin-right: 0px;
}

.about-us-description-block {
	float: left;
	width: 685px;
}

.about-us-description-block h2{
	line-height: 45px;
}

.about-us-description-block p {
	font-size: 16px;
	color: #283136;
	margin-bottom: 46px;
}

.about-us-description-block p + span {
	font-size: 16px;
	color: #000000;
	text-transform: uppercase;
	font-weight: bold;
}

.about-us-description-list {
	list-style: none;
	font-size: 16px;
	color: #283136;
	margin-top: 28px;
}

.about-us-description-list li {
	margin-bottom: 30px;
	position: relative;
}

.about-us-description-list li:before {
	content: "";
	width: 25px;
	height: 2px;
	background-color: #fb565a;
	position: absolute;
	left: -35px;
	top: 10px;
}

.metrics-slogan {
	color: #000000;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 42px;
}

.metrics-image-container {
	margin-bottom: 33px;
}

.about-us-metrics-block {
	width: 360px;
	float: right;
}

sup {
	top: -17px;
		font-size: 27px;
}

.our-projects-block {
	width: 260px;
	float: left;
	text-align: center;
	margin-right: 40px;
	position: relative;
}

.our-projects-block img {
	opacity: 0.5
}

.our-projects-section .our-projects-block:before {
	content:"";
	background-color: #eeeeee;
	position: absolute;
	width: 2px;
	height: 52px;
	right: -22px;
	top: 3px;
	opacity: 1;
}

.our-projects-block:last-child:before {
	display: none;
}

.our-projects-block.second {
	margin-top: -13px;
}

.our-projects-block.second:before {
	top: 17px;
}

.our-projects-block.fourth {
	margin-right: 0px;
	margin-top: -7px
}


.our-projects-block:hover > img {
	opacity: 1;
}

.our-projects-block:hover .our-projects-block:before {
	opacity: 1;
}

.our-projects-block:active {
	opacity: 0.1;
}
.metrics-slogan {
	text-align: center;
}

.metrics-block-rates-block {
	float: left;
	width: 100px;
	margin-right: 20px;
	font-family: 'roboto','Arial',sans-serif;
}

.metrics-block-rates-block div {
	font-size: 45px;
	font-weight: bold;
	font-style: normal;
	font-family: 'roboto','Arial',sans-serif;
	margin-bottom: 11px;
}

.metrics-block-rates-block .metrics-block-slogan {
	color: #283136;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-family: 'roboto','Arial',sans-serif;
	text-align: left; 
}

div.metrics-block-rates-block:last-child {
	margin-right: 0px;
}

.gray-wrapper {
	background-color: #eeeeee;
}

main.main-catalog .gray-wrapper {
	margin-bottom: 37px;
}

main .gray-wrapper {
	margin-bottom: 80px;
}

.our-location-section {
	position: relative;
}

.our-location-block {
	width: 221px;
	text-align: left;
	background-color: #ffffff;
	position: absolute;
	top: 57px;
	left: 50px;
	padding: 50px;
	font-size: 0;
}

.our-location-header {
	font-size: 18px;
	color: #000000;
	font-family: 'roboto','Arial',sans-serif;
	font-weight: bold;
	font-style: normal;
	text-transform: uppercase;
	margin-bottom: 28px;
}

.our-location-description {
	font-size: 16px;
	color: #666666;
	font-family: 'roboto','Arial',sans-serif;
	font-weight: normal;
	font-style: normal;
	margin-bottom: 36px;
}

.modal-on-button {
	background-color: #fb565a;
	text-transform: uppercase;
	color: #ffffff;
	font-family: 'roboto','Arial',sans-serif;
	font-weight: normal;
	font-style: normal;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	outline: none;
	font-size: 16px; 
	display: inline-block;
		text-align: center;
		text-decoration: none;
		padding: 15px 45px;
		vertical-align: middle;
}

.our-location-description + button:hover {
	background-color: #e74246;
} 

.our-location-description + button:active {
	background-color: #d7373b;
	border: none;
	color: #e06366;
}

.modal-on-button:hover {
	background-color: #e74246;
}

.modal-on-button:active {
	background-color: #d7373b;
	border: none;
	color: #e06366;
}

/*MODAL STARTS HERE*/
.modal-container {
	width: 765px;
	background-color: #ffffff;
	margin: 0 auto;
	padding: 64px 94px 80px 100px;
	-webkit-box-shadow: -1px 15px 55px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 15px 55px 3px rgba(0,0,0,0.75);
	box-shadow: -1px 15px 55px 3px rgba(0,0,0,0.75);
}

@keyframes bounce {
	0%   {
		transform: translateY(-2000px);
	}
	70%  {
		transform: translateY(30px);
	}
	90%  {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes shake {
	0%, 100% {
		transform: translateX(0);
	}
	10%, 30%, 50%, 70%, 90% {
		transform: translateX(-10px);
	}
	20%, 40%, 60%, 80% {
		transform: translateX(10px);
	}
}

.modal-container-holder {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999999;
	padding-top: 10px;
	margin: 0 auto;
}

.modal-container-on {
	display: block;
	animation: bounce 0.6s;
}

.modal-container-header {
	font-size: 45px;
	font-family: 'roboto','Arial',sans-serif;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	margin-bottom: 35px;
}

.modal-error {
	animation: shake 0.6s;
}

.form-name div {
	font-size: 16px;
	font-family: 'roboto','Arial',sans-serif;
	font-weight: bold;
	font-style: normal;
	color: #000000;
	margin-bottom: 10px;

}

.form-item {
	float:left;
	margin-right: 40px;
	margin-bottom: 33px;
}

.modal-form input[type="text"]:active {
	outline: none;
}

.form-item label {
	font-size: 16px;
	font-family: 'roboto','Arial',sans-serif;
	font-weight: bold;
	font-style: normal;
	color: #000000;
	margin-bottom: 10px;
	display: block;
}

.form-item:last-child {
	clear: both;
}


.modal-container-body .form-item input {
	width: 344px;
	height: 44px;
	border: 2px solid #d7dcde;
	border-radius: 3px;
	color: #d7dcde;
	padding-left: 11px;
	position: relative;
	font-size: 16px;
	font-family: 'roboto','Arial',sans-serif;
	font-weight: normal;
	font-style: normal;
}

.form-item input.error {
	border: 2px solid #e74246;
}

.form-item.textarea textarea.error {
	border: 2px solid #e74246;
}

.form-item.textarea textarea.error:hover {
	border: 2px solid #e74246;
}

.form-item.textarea textarea.error:focus {
	border-color: #e74246;
	color: #e74246;
} 

.form-item input.error:hover {
	border: 2px solid #e74246;
}

.form-item input:hover {
	border-color: #b4b9bb;
} 

.form-item input.error:focus {
	border-color: #e74246;
	color: #e74246;
} 

.modal-container-body input:focus {
	border-color: #000000;
	color: #000000;
} 

.close-button-modal {
	float: right;
	width: 25px;
	height: 25px;
	border: none;
	background-image: url(../img/sprite.png); 
	background-position: -50px -1024px;
	cursor: pointer;
	border: none;
	cursor: pointer;
	opacity: 0.5;
	margin-right: -10px;
	margin-top: 15px;
}


::-webkit-input-placeholder { 
	color: #d7dcde;
}
::-moz-placeholder { 
	color: #d7dcde;
}
:-ms-input-placeholder { 
	color: #d7dcde;
}
:-moz-placeholder { 
	color: #d7dcde;
}

:focus::-webkit-input-placeholder {
color: #000000;
}
:focus:-moz-placeholder {
color: #000000;
}
:focus:-ms-input-placeholder {
color: #000000;
}

.error::-webkit-input-placeholder { 
	color: red;
}
.error::-moz-placeholder { 
	color: red;
}
.error:-ms-input-placeholder { 
	color: red;
}
.error:-moz-placeholder { 
	color: red;
}

.close-button-modal:hover {
	opacity: 1;
}

.close-button-modal:active {
	opacity: 0.3;
}

.form-item.textarea {
	clear: both;
	float: none;
	margin-bottom: 42px;
	margin-right: 0px;
}

.form-item.textarea textarea {
	width: 740px;
	min-height: 118px;
	border: 2px solid #d7dcde;
	border-radius: 3px;
	color: #d7dcde;
	resize: none;
	padding-left: 14px;
	padding-top: 10px;
	font-size: 16px;
	font-family: 'roboto','Arial',sans-serif;
	font-weight: normal;
	font-style: normal;
	min-height: 103px;
}

.form-item.textarea textarea:hover {
	border-color: #b4b9bb;
}

.form-item.textarea textarea:focus {
	border-color: #000000;
	color: #000000;
}

.form-item.email {
	margin-right: 0px;
}

.modal-container .modal-container-body input.form-button{
	background-color: #fb565a;
	text-transform: uppercase;
	color: #ffffff;
	font-family: 'roboto','Arial',sans-serif;
	font-weight: normal;
	font-style: normal;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	outline: none;
	padding: 15px 84px;
	font-size: 16px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
		outline: none;
}

.modal-container .modal-container-body input.form-button:hover {
	background-color: #e74246;
}

.modal-container .modal-container-body input.form-button:active {
	background-color: #d7373b;
	border: none;
	color: #e06366;
	outline: none;
}

/*MODAL ENDS HERE*/

/*FOOTER STARTS HERE*/
.social-links-block a {
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 100%;
	background-color: #e1e1e1;
}

.social-links-block a:hover {
	background-color: #e74246;
}

.social-links-block li {
	list-style: none;
	margin-right: 12px;
	float: left;
}

.social-links-block .vk {
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	background-position: -23px -3237px;

}

.social-links-block .vk:active {
	background-position: -23px -3122px;
	background-color: #d7373b;
}

.social-links-block .fb:active {
	background-position: -16px -1360px;
	background-color: #d7373b;
}

.social-links-block .inst:active {
	background-position: -20px -1602px;
	background-color: #d7373b;
}

.social-links-block .fb {
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	background-position: -16px -1238px;
}

.social-links-block .inst {
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	background-position: -20px -1481px;
}

.social-links-block {
	float: left;
	width: 380px;
	margin: 0px;
	padding: 0px;
}

/*FOOTER ENDS HERE*/

.discount-block-slogan {
	float: left;
	width: 546px;
	margin-left: 20px;
} 

.discount-block-slogan span {
	color: #000000;
	font-family: 'roboto','Arial',sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 36px;
	display: block;
	margin-bottom: 10px;
}

.discount-block-slogan p {
	color: #000000;
	font-family: 'roboto','Arial',sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	margin: 0px;
}

.main-footer {
	padding-top: 67px;
	padding-bottom: 68px;
}

.gray-top-section {
	text-align: center;
	padding-top: 69px;
	padding-bottom: 102px;
}

.gray-top-section h1 {
	margin: 0px;
	font-size: 55px;
	color: #000000;
	font-family: 'roboto','Arial',sans-serif;
	font-weight: 500;
	font-style: normal;
}


.filter-section {
	width: 259px;
	float: left;
	margin-right: 141px;
}

.main-products-catalog {
	width: 760px;
	float: right;
}

.catalog-item-wrapper {
	width: 360px;
	float: left;
	margin-right: 40px;
	margin-bottom: 32px;
	display: block;
	text-decoration: none;
	position: relative;
	overflow: hidden;
}

#map {
	background-image: url(../img/map.jpg);
	background-position: -91px -149px;
}

.catalog-item-wrapper:hover .image-holder-top {
	background-color: #4d4d4d;
}

.catalog-item-wrapper:hover .catalog-item-modal {
	display: block;
}

.image-holder-top {
	background-color: #e9e9e9;
	width: auto;
}

.main-products-filter button{
	border: none;
	text-decoration: none;
	color: #b2b2b2;
	font-family: 'roboto','Arial',sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
	background-color: #ffffff;
	text-transform: uppercase;
	padding-right: 17px;
	cursor: pointer;
	outline: none;
}

.main-products-filter button:hover {
	color:#666666;
}

.main-products-filter button:active {
	color:#000000;
}

.main-products-filter-switch {
	width: 10px;
	height: 10px;
	display: inline-block;
	background-image: url(../img/sprite.png); ; 
	cursor: pointer;
	vertical-align: middle;
}

.main-products-filter-switch.up {
	background-position: -50px -2829px;
	padding-right: 0px;
}

.main-products-filter-switch.down:hover {
	background-position: -50px -2720px;
	transition: none;
}

.main-products-filter-switch.down {
	background-position: -50px -2502px;
	margin-left: 28px;
}

.main-products-filter-switch.up:hover {
	background-position: -50px -3047px;
	transition: none;
}

.main-products-filter-switch.down:active {
	background-position: -50px -2611px;
}

.main-products-filter-switch.up:active {
	background-position: -50px -2938px;
}

.main-products-filter button:active {
	color: #000000;
}

.image-holder-top:first-child {
	padding-left: 17px;
	padding-top: 13px;
	padding-bottom: 11px; 
}

.image-holder-top-button {
	background-color: #ffffff;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 6px;
	vertical-align: middle;
}

.catalog-item-wrapper:nth-child(even) {
	margin-right: 0px;
}

.product-features {
	margin-bottom: 50px;
}

.range-from {
	float: left;
	width: 117px;
}

.catalog-item-container {
	margin-bottom: 29px;
}

.range-till {
	float: left;
	width: 117px;
}

.range-container input {
	display: block;
}

.range-from .from {
	float: left;
}

.range-from .numerals {
	float: left;
}

.range-till .from {
	float: left;
}

.range-till .numerals {
	float: left;
}

.main-products-header h3 {
	float: left;
}

.main-products-filter {
	margin-top: 21px;
	float: right;
}

.catalog-item-modal {
	width: 360px;
	min-height: 231px;
	background-color: #eeeeee;
	text-align: center;
	display: none;
	position: absolute;
	bottom: 0;
	font-size: 0;
}

.catalog-item-modal-header {
	color: #000000;
	font-family: 'roboto','Arial',sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 18px;
	margin-bottom: 30px;
	padding-top: 35px;
}

.catalog-item-modal-body {
	color: #666666;
	font-family: 'roboto','Arial',sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	width: 216px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.catalog-item-modal-button {
	background-color: #fb565a;
	text-transform: uppercase;
	color: #ffffff;
	font-family: 'roboto','Arial',sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	margin-bottom: 43px;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	vertical-align: middle;
	padding: 15px 45px;
}

.catalog-item-modal-button:hover {
	background-color: #e74246;
}

.catalog-item-modal-button:active {
	background-color: #d7373b;
}


.bottom-pagination-block {
	clear: both;
	margin-bottom: 60px;
}

.bottom-pagination-block ul {
	padding: 0px;
	margin: 0px;
	font-size: 0;
}

.bottom-pagination-block li {
	list-style: none;
	float: left;
	background-color: #eeeeee;
	box-sizing: border-box;
	text-align: center;
	margin-right: 10px;
	border-radius: 3px;
}

.bottom-pagination-block li:first-child {
	background-color: #ffffff;
	border: 2px solid #dbdbdb;
}

.bottom-pagination-block li:hover {
	background-color: #dfdfdf;
}

.bottom-pagination-block li:active {
	background-color: #d5d5d5;
	color: #959595;
}

.product-types-row input {
	display: none;
}

.product-types h3 {
	padding-bottom: 0px;
}

.product-types-row span {
	font-family: 'roboto','Arial',sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	color: #283136;
	opacity: 0.9;
}

.product-types-row:hover input[type="radio"] + label.product-types-label:before {
	opacity: 1;
} 

.product-types-row:hover input[type="checkbox"] + label.product-features-label:before {
	opacity: 1;
} 

.product-types-row:hover span {
	color: #000000;
} 

.product-types-row {
	margin-bottom: 21px;
}

.product-types .product-types-row:last-child {
	margin-bottom: 50px;
}

.product-features h3 {
	padding-bottom: 0px;
}

input[type="radio"] + label.product-types-label:before {
	content: "";
	width: 25px;
	height: 25px;
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	background-position: -50px -2002px;
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	margin-left: -35px;
	top: -5px;
	opacity: 0.6;
}

.product-types-label:hover {
	opacity: 1;
}

.product-types-label:hover .product-types-label {
	opacity: 1;
}


input[type="radio"]:checked + label.product-types-label:before {
	background-position: -50px -2377px;
	
	
}

input[type="checkbox"] + label.product-features-label:before {
	content: "";
	width: 25px;
	height: 25px;
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	background-position: -50px -411px;
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	margin-left: -35px;
	opacity: 0.6;
}

input[type="checkbox"]:checked + label.product-features-label:before {
	background-position: -50px -780px;

}

input[type="checkbox"]:checked + label.product-features-label span {
	background-position: -50px -780px;

}

input[type="checkbox"]:checked:hover {
	opacity: 1;
}

.product-features-label {
	position: relative;
	padding-left: 34px;
	cursor: pointer;
}

.product-types-label {
	position: relative;
	padding-left: 34px;
	cursor: pointer;
}

.product-features + input {
	background-color: #eeeeee;
	border: none;
	text-decoration: none;
	color: #000000;
	font-family: 'roboto','Arial',sans-serif;
	font-weight: 500;
	font-size: 16px;
	font-style: normal;
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
	display: inline-block;
	padding: 15px 89px;
	border-radius: 3px; 

}

.product-features + input:hover {
	background-color: #dfdfdf;
}

.product-features + input:active {
	background-color: #d5d5d5;
	color: #959595;
	border: none;

}

.bottom-pagination-block a:active {
	color: #959595;
}

.bottom-pagination-block li a {
	text-decoration: none;
	color: #000000;
	font-family: 'roboto','Arial',sans-serif;
	font-weight: 500;
	font-size: 16px; 
	font-style: normal;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
	padding: 15px 21px;
}

.bottom-pagination-block li.active {
	text-decoration: none;
	color: #000000;
	font-family: 'roboto','Arial',sans-serif;
	font-weight: 500;
	font-size: 16px; 
	font-style: normal;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
	line-height: 46px;
	padding: 0px 20px 0px 18px;
}

.bottom-pagination-block li.active:hover {
	background-color: #ffffff;
}

.bottom-pagination-block li.bottom-pagination-next a {
	padding: 15px 78px; 	
}


/*RANGE-FILTER*/
.range-filter {
	margin-bottom: 60px;
}

.range-controls {
	position: relative;
	height: 41px;
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px;
	margin-bottom: 15px;
	border-radius: 5px;
	background: #f1f1f1;
}

.range-controls .scale {
	height: 2px;
	background: #d7dcde;
}

.range-controls .bar {
	width: 65%;
	height: 2px;
	background: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	top: 30px;
	left: 0px;
	width: 4px;
	height: 4px;
	cursor: pointer;
	border: 8px solid #fff;
	border-radius: 50%;
	background: #ababab;
	box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
	left: 20px;
}

.range-controls .toggle-max {
	left: 145px;
}

.price-controls {
	font-size: 0;
}

.price-controls label {
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	text-transform: uppercase;
}

.max-price {
	text-align: right;
}

.price-controls input {
	font-family: 'roboto','Arial',sans-serif;
	font-size: 16px;
	width: 60px;
	margin-left: 10px;
	padding: 8px 10px;
	text-align: center;
	color: #283136;
	border: none;
	border-radius: 5px;
	background: #f1f1f1;
}

/*RANGE-FILTER*/


/*SPRITE*/
.sprite {
		background-image: url(spritesheet.png);
		background-repeat: no-repeat;
		display: block;
}

.sprite--icon-cart {
		width: 15px;
		height: 15px;
		background-position: -50px -50px;
}

.sprite-checkbox-off {
		width: 23px;
		height: 23px;
		background-position: -50px -165px;
}

.sprite-checkbox-off-active {
		width: 23px;
		height: 23px;
		background-position: -50px -288px;
}

.sprite-checkbox-off-hover {
		width: 23px;
		height: 23px;
		background-position: -50px -411px;
}

.sprite-checkbox-on {
		width: 27px;
		height: 23px;
		background-position: -50px -534px;
}

.sprite-checkbox-on-active {
		width: 27px;
		height: 23px;
		background-position: -50px -657px;
}

.sprite-checkbox-on-hover {
		width: 27px;
		height: 23px;
		background-position: -50px -780px;
}

.sprite-close-cross-active {
		width: 21px;
		height: 21px;
		background-position: -50px -903px;
}

.sprite-close-cross-hover {
		width: 21px;
		height: 21px;
		background-position: -50px -1024px;
}

.sprite-close-cross-normal {
		width: 21px;
		height: 21px;
		background-position: -50px -1145px;
}

.sprite-fb-icon {
		width: 12px;
		height: 22px;
		background-position: -50px -1266px;
}

.sprite-fb-icon-opacity {
		width: 12px;
		height: 22px;
		background-position: -50px -1388px;
}

.sprite-insta-icon {
		width: 21px;
		height: 21px;
		background-position: -50px -1510px;
}

.sprite-insta-icon-opacity {
		width: 21px;
		height: 21px;
		background-position: -50px -1631px;
}

.sprite-radio-off {
		width: 25px;
		height: 25px;
		background-position: -50px -1752px;
}

.sprite-radio-off-active {
		width: 25px;
		height: 25px;
		background-position: -50px -1877px;
}

.sprite-radio-off-hover {
		width: 25px;
		height: 25px;
		background-position: -50px -2002px;
}

.sprite-radio-on {
		width: 25px;
		height: 25px;
		background-position: -50px -2127px;
}

.sprite-radio-on-active {
		width: 25px;
		height: 25px;
		background-position: -50px -2252px;
}

.sprite-radio-on-hover {
		width: 25px;
		height: 25px;
		background-position: -50px -2377px;
}

.sprite-sort-down {
		width: 9px;
		height: 9px;
		background-position: -50px -2502px;
}

.sprite-sort-down-active {
		width: 9px;
		height: 9px;
		background-position: -50px -2611px;
}

.sprite-sort-down-hover {
		width: 9px;
		height: 9px;
		background-position: -50px -2720px;
}

.sprite-sort-up {
		width: 9px;
		height: 9px;
		background-position: -50px -2829px;
}

.sprite-sort-up-active {
		width: 9px;
		height: 9px;
		background-position: -50px -2938px;
}

.sprite-sort-up-hover {
		width: 9px;
		height: 9px;
		background-position: -50px -3047px;
}

.sprite-vk-icon-opacity {
		width: 26px;
		height: 15px;
		background-position: -50px -3156px;
}

.sprite-vk-icon-png- {
		width: 26px;
		height: 15px;
		background-position: -50px -3271px;
}
